<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>自动化测试-客户端</title>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        body{
            background-image: url('http://zhongguose.com/img/texture.png');
            background-color:rgb(86, 152, 195);
        }
        .box{
            width: 400px;
            margin: 100px auto;
        }
        .box img{
            display: block;
            margin: 0 auto;
        }
        .box p{
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="box">
        <img src="{{qrcode}}" alt="手机连接页面二维码">
    </div>
</body>
</html>