airtest==1.1.1
APScheduler==3.6.3
asgiref==3.2.7
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
comtypes==1.1.7
Django==3.0.5
django-apscheduler==0.3.0
dwebsocket==0.5.12
facebook-wda==0.2.1
gitdb==4.0.2
GitPython==3.1.0
hrpc==1.0.8
idna==2.9
Jinja2==2.11.1
MarkupSafe==1.1.1
mss==4.0.3
numpy==1.18.2
opencv-contrib-python==3.4.2.17
Pillow==7.1.1
pocoui==1.0.79
pypiwin32==223
pytz==2019.3
pywin32==227
pywinauto==0.6.3
qrcode==6.1
requests==2.23.0
six==1.14.0
smmap==3.0.1
sqlparse==0.3.1
tzlocal==2.0.0
urllib3==1.25.8
websocket-client==0.48.0
